// Screen Resolutions
$value: 480;
$mobile: $value * 1px;

// Colors

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray:hsl(0, 0%, 92%);
$grayish-violet:hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet:hsl(260, 8%, 14%);

// Font weights

$fontweight-heavy: 700;
$fontweight-light: 500;

// Screen sizes
$default-size: 98rem;

// Mixins
// @mixin center-component {
//     margin-left: 10rem;
//       margin-right: 10rem;
// }